.jumbotron img{
	background-size: cover;
	background-position: top center;
	height: 250px;
	width: 100%;
}

.severe{
   background-color: maroon;
}

.dry{
	background-color: burlywood;
}

.normal{
   background-color: greenyellow;
}

.moist{
	background-color: lightblue;
}