.jumbotron img{
	background-size: cover;
	background-position: top center;
	height: 250px;
	width: 100%;
}

.severe{
   background-color: #dc3545;
   padding: 3.5rem; 
   border: gray 1px solid;
}

.dry{
	background-color: #ffc107;
	padding: 3.5rem;
	border: gray 1px solid;
}

.normal{
   background-color:#198754;
   padding: 3.5rem;
   border: gray 1px solid;
}

.moist{
	background-color: lightskyblue;
	padding: 3.5rem;
	border: gray 1px solid;
}

.wall-table{
    padding: 1.5rem 1.5rem;
	text-align: center;
	color: white;
	font-size: 0.75rem;
	margin-left: auto;
	margin-right: auto;
}