{% extends 'sensors_home.html' %}

{% block result %}

<div class="container text-center">
    <h3>Device Name: {{ device_name }}</h3>
    <h1>Update Sensor Details</h3>
    </br>

    <form id="update-form" method="POST" action="{{ url_for('updatesensor',id=id)}}">
        {{ form.csrf_token }}
        <h3>Name</h3>{{form.name}}
        <h3>Type</h3>{{form.stype}}
        <h3>Position X</h3>{{form.position_x}}
        <h3>Position Y</h3>{{form.position_y}}<br>
        <section>
        </br>
        </section>    
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </form>
</div>

{%endblock%}
