<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Green Wall Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" id="main-container">
        <div class="row">
            <div class="text-center">
                <img src="{{url_for('static', filename='images/green_wall.png')}}" class="img-fluid" alt="Responsive image">
            </div>
            <section class="text-center" >
            </br>
                <h4>IMT Atlantique</h4>
            </section>
            
            <div class="col-lg-12 text-center">
                <h1>Green Wall Management App</h1>
            </div>
            <section>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
    
                    <div class="btn-group" role="group">
                        <a id="home-btn" href="{{url_for('home')}}"><button type="button" class="btn btn-link">Home</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a id="list-btn" href="{{url_for('devices')}}"><button type="button" class="btn btn-link">Devices Home</button></a>
                    </div>
                
                    <div class="btn-group" role="group">
                        <a id="list-btn" href="{{url_for('showsensormap')}}" target="_blank"><button type="button" class="btn btn-link">Sensor Map</button></a>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <h1>Upload the Sensor Map Image</h1>
                <h4>* Please upload .jpg only</h4>
                <form method="POST" action="" enctype="multipart/form-data">
                    <div>
                        <input class="form-control form-control-lg" id="formFileLg" type="file" name="file" accept=".jpeg,.jpg">
                      </div>
                      <button type="submit" class="btn btn-success mb-3">Upload Map</button>
                </form>
            </section>
            {% if message %}
            <div class="alert alert-success" role="alert">
                {{message}}
             </div>
            {% endif %}  
    

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{url_for('static',filename='script/index.js')}}" type="text/javascript"></script>
</body>
</html>














