{% extends 'devices_home.html' %}

{% block result %}
</br>
</br>

	<div class="container" id="test">
        <h2>Green Wall Status</h2>
        </br>
        <table class="wall-table">
        
            <tbody id="body">
                <tr>
                {% for s in sensor_list[0:4] %}
               
                    <td class="{{ s['humidity_level'] }}">{{ s["name"] }} || {{ s["last_value"] }}</td>
             
                {% endfor %}
            </tr>
            <tr>
                {% for s in sensor_list[4:8] %}
               
                    <td class="{{ s['humidity_level'] }}">{{ s["name"] }} || {{ s["last_value"] }}</td>
            
                {% endfor %}
            </tr>
            <tr>
                {% for s in sensor_list[8:12] %}
              
                    <td class="{{ s['humidity_level'] }}">{{ s["name"] }} || {{ s["last_value"] }}</td>
             
                {% endfor %}
            </tr>
            <tr>
                {% for s in sensor_list[12:16] %}
            
                    <td class="{{ s['humidity_level'] }}">{{ s["name"] }} || {{ s["last_value"] }}</td>
             
                {% endfor %}
            </tr>
                   
            </tbody>
        </table>
    </div>

{%endblock%}
