{% extends 'wall_home.html' %}

{% block result %}
</br>


	<div class="container text-center" id="test">
    
        <table class="wall-table">
        
            <tbody id="body">
                <tr>
                {% for s in sensor_list[0:4] %}
               
                    <td class="{{ s['humidity_level'] }}">{{ s["name"] }} </td>
             
                {% endfor %}
            </tr>
            <tr>
                {% for s in sensor_list[4:8] %}
               
                    <td class="{{ s['humidity_level'] }}">{{ s["name"] }} </td>
            
                {% endfor %}
            </tr>
            <tr>
                {% for s in sensor_list[8:12] %}
              
                    <td class="{{ s['humidity_level'] }}">{{ s["name"] }} </td>
             
                {% endfor %}
            </tr>
            <tr>
                {% for s in sensor_list[12:16] %}
            
                    <td class="{{ s['humidity_level'] }}">{{ s["name"] }}</td>
             
                {% endfor %}
            </tr>
                   
            </tbody>
        </table>

    </br>
    <div>
        <span><h3>Humidity Levels: </h3></span>
        <span class="badge bg-info text-dark"> &gt;75%</span>
        <span class="badge bg-success">50 - 75 %</span>
        <span class="badge bg-warning text-dark">25 - 50 %</span>
        <span class="badge bg-danger"> &lt; 25%</span>
    </div>
    <br>
    <br>
    <br>
    </div>

{%endblock%}
